<!DOCTYPE html>
<html lang="en-us">

<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'  rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>    
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


  </head>


  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand navsmall" aria-current="page" href="index"><i class="fa-solid fa-house"></i> Baseball</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="pitching"><i class="fa-solid fa-baseball"></i> Pitching</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pitching_data"><i class="fa-solid fa-baseball"></i> Pitching Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="batting"></i><i class="fa-solid fa-baseball-bat-ball"></i> Batting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="batting_data"></i><i class="fa-solid fa-baseball-bat-ball"></i> Batting Data</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>
    
    </h1>

    <div>
      <div class = "row">
        <div class="col-lg-12">
          <h1>Graphical Depictions of Baseball Player Statistics</h1>
        </div>
        
        <div class="col-md-1"></div>
        <div class= "col-md-4">
          <p>
            This project is meant to display statistics for both pitching and batting of 
            the given player based on their player ID and the year in which they played. 
            From these inputs, the user will be able to both see their statistics and as well as 
            visualizations of these statistics. 
          </p>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-4">
          <p>
            Each of the tabs above are named accordingly for finding what you are looking for. From there you can input
            the desired player (using the players "playerID") and if needed the year in which that player had played. Using This
            information, the webpage will display a total of 4 graphs tailored to your selected player.
          </p>
        </div> 
      </div>
    </div>
  </body>
</html>